extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
      -
        let instruments = results
        
      each instrument,index in instruments
        .col-sm-2(onclick=`buy(${index})`)
          p Instrument Type: #{instrument.instrument_type}
          p Size: #{instrument.instrument_size}
          p Price: $#{instrument.instrument_price.toFixed(2)}

  a(href="/") Back to index

  script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }
