extends layout
 
block content
  h1= title
  if toShow == null
    h2 No details found
  else
    - let instrument_id = toShow._id
    - let instrument_type = toShow.instrument_type
    - let instrument_size = toShow.instrument_size
    - let instrument_cost = toShow.instrument_cost
    div
      div.row
        div.instrumentAttr.mr-3 instrument ID is:
        div= instrument_id
      div.row
        div.instrumentAttr.mr-3 instrument_type is:
        div= instrument_type
      div.row
        div.instrumentAttr.mr-3 instrument_size is:
        div= instrument_size
      div.row
        div.instrumentAttr.mr-3 instrument_cost is:
        div= instrument_cost